.header{
height:100px;
  background-color:yellow;
}

.header-logo{
font-size:36px;
float:left;
padding:20px;
}

.header-list li{
float:right;
  list-style:none;
  padding:20px 30px;
}

.main{
  height:400px;
 text-align:center;
  padding:50px ;
  background-color:red;
}

.main h1{
  font-size:70px;
  border-bottom:2px solid #dee7ec;
}

.main li{
  list-style:none;
  padding-bottom:20px;
}

.footer{
height:100px;
  background-color:blue;
  text-align:center;
  color:white;
}

.footer p{
padding:30px;
}
  



  
