header{
  height:100px;
  background-color:rgba(0,100,150,0.8);
  width:100%;
  position:fixed;
  top:0;
  z-index:10;
}

.header-left{
float:left;
}

.logo{
padding:20px;
width:140px;  
}

.header-right{
float:right;
  background-color:rgba(0,0,0,0.3);
  display:block;
  color:white;
  padding:20px
    line-height:100px;
}

.header-right:hover{
background-color:rgba(0,0,0,0.5);
}  


.main{
  height:400px;
 text-align:center;
  padding:50px ;
  background-color:red;
}

.main h1{
  font-size:70px;
  border-bottom:2px solid #dee7ec;
}

.main li{
  list-style:none;
  padding-bottom:20px;
}

.footer{
height:100px;
  background-color:blue;
  text-align:center;
  color:white;
}

.footer p{
padding:30px;
}
  



  
